.login-background-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-form {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-field-user,
.login-field-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 58px;
}

.login-signin-button {
  width: 90%;
  margin-top: 25px;
}

.login-error-text {
  width: 400px;
  height: 26px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 140, 140);
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5px;
}